<div class="slider_best_seller">
  <div class="slick-slideshow__slide_best" style="height: 270px;padding-top:20px">
    <div class="cat-box-1 background-white shadow-lg">
      <img class="wd-100" src="./assets/images/hm-ct-1.png">
      <h5 class=" font-14 mt-3">I'm Pregnant</h5>
    </div>
  </div>
  <div class="slick-slideshow__slide_best" style="height: 270px;padding-top:20px">
    <div class="cat-box-1 background-white shadow-lg">
      <img class="wd-100" src="./assets/images/hm-ct-1.png">
      <h5 class=" font-14 mt-3">I'm Pregnant</h5>
    </div>
  </div>
  <div class="slick-slideshow__slide_best" style="height: 270px;padding-top:20px">
    <div class="cat-box-1 background-white shadow-lg">
      <img class="wd-100" src="./assets/images/hm-ct-1.png">
      <h5 class=" font-14 mt-3">I'm Pregnant</h5>
    </div>
  </div>
  <div class="slick-slideshow__slide_best" style="height: 270px;padding-top:20px">
    <div class="cat-box-1 background-white shadow-lg">
      <img class="wd-100" src="./assets/images/hm-ct-1.png">
      <h5 class=" font-14 mt-3">I'm Pregnant</h5>
    </div>
  </div>
  <div class="slick-slideshow__slide_best" style="height: 270px;padding-top:20px">
    <div class="cat-box-1 background-white shadow-lg">
      <img class="wd-100" src="./assets/images/hm-ct-1.png">
      <h5 class=" font-14 mt-3">I'm Pregnant</h5>
    </div>
  </div>
  <div class="slick-slideshow__slide_best" style="height: 270px;padding-top:20px">
    <div class="cat-box-1 background-white shadow-lg">
      <img class="wd-100" src="./assets/images/hm-ct-1.png">
      <h5 class=" font-14 mt-3">I'm Pregnant</h5>
    </div>
  </div>
</div>
