<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSK</title>
    <meta name="theme-color" content="#c25d84">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');}.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}</style>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css'><link rel="stylesheet" href="./subscription.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="./subscription.component.css"  rel="stylesheet">
    
  </head>
  <body>

    <!--Tool Bar-->
    
     
     <mat-toolbar color="primary">
      <button mat-icon-button class="tool-arow" aria-label="Example icon-button with arrow_back icon" routerLink="/">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="example-spacer font-gilroy-bold">Premium Subscription</span>        
    </mat-toolbar>
  
  
    <!--Tool Bar--> 
      
      <!--Premium box-->  
    <div class=" container bg-white m-2 p-4 shadow-sm wd96 mt-4">
        <div class="premium-bnr pt-3 p-3 ">
        <h4 class="font-32 font-gilroy-bold text-white text-right">Ready for  <br>More?</h4>
    </div>

    <h5 class="mt-5 font-gilroy-bold font-24 mb-3 text-gray">FREE:</h5>
    <ul class="text-gray ml-0 ">
        <li class="mb-3">Schedule 3 Magic Minutes a day
        </li>
        <li class="mb-3">Schedule morning and bedtime meditation (alarms)</li>
        <li class="mb-3">Access to one meditation in each category (additional recordings are visible but locked)</li>
        <li class="mb-0">Our 5-Step Goal Setting Course</li>

    </ul>

    <h5 class="mt-5 font-gilroy-bold font-24 mb-3 text-gray">PREMIUM: $24.99 / month or $111 for the year</h5>
    <ul class="text-gray ml-0 ">
        <li class="mb-3">Unlimited Magic Minutes</li>
        <li class="mb-3">Access to all recordings in every category</li>
        <li class="mb-3">Choose any meditation for your morning & bedtime alarms</li>
        <li class="mb-3">Track your daily progress and share with your accountability buddy</li>
        <li class="mb-3">Private journal feature with coaching prompts</li>
        
        <li class="mb-3">20% off private coaching sessions</li>
        <li class="mb-0">Record your own customized meditation</li>

    </ul>

    <h5 class="mt-5 font-gilroy-bold font-24 mb-3 text-gray">Coaching sessions: $249 for 90 minutes</h5>
    <ul class="text-gray ml-0 ">
        <li class="mb-3">First time = $47</li>
        <li class="mb-0">Premium members = $197 individually</li>

    </ul>

    <h5 class="mt-5 font-gilroy-bold font-24 mb-3 text-gray">Ecstatic Life Program: $333 / month or $3500 annually</h5>
    <ul class="text-gray ml-0 ">
        <li class="mb-3">3-hour Monthly Online Retreat</li>
        <li class="mb-3">Monthly Quantum Energy Healing sessions</li>
        <li class="mb-3">Weekly Group Life Coaching Calls</li>
        <li class="mb-3">Access to Ecstatic Life Design Membership Portal</li>
        <li class="mb-3">Community forum within Slack for daily inspiration & support</li>
        <li class="mb-3">Premium “Magic Minute” app subscription</li>
        <li class="mb-0">Weekly Meditations & Journal Prompts</li>

    </ul>

    <!-- <h5 class="mt-5 font-gilroy-bold font-24 mb-3 text-gray">Upgrade to Premium for:</h5>
    <ul class="text-gray ml-0 ">
        <li class="mb-3">Unlimited Access to Resources</li>
        <li class="mb-3">Daily Goal Tracking</li>
        <li class="mb-3">Monthly Live Meditative Meet-Ups Online</li>
        <li class="mb-0">Monthly Live Meditative Meet-Ups Online</li>

    </ul>

    <h5 class="mt-2 font-gilroy-bold font-24  text-gray">BONUS</h5>
    <p class="text-gray ml-0 font-16 mb-0">Get a free 90-minute private Success Coaching session when you enroll for a year!</p> -->
    </div>
      

    <!--Premium banner-->  

    <!--Package box-->

    

    <!--Package box-->
    
<!--preference box-->  

<div class="container p-3">
    <h4 class="font-21 mt-5 font-gilroy-bold text-gray mb-3 ">Select Your Preference:</h4>

<div class="list-group mb-3 shadow-sm border-0">
    <div  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <label class="container-1 font-gilroy-light p-left-30">
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">PREMIUM </h6>
          <p class="mb-0 opacity-75">$24.99 / month</p>
        </div>
      </div>
    </div> 
  </div>

  <div class="list-group shadow-sm border-0 ">
    <div  class="list-group-item list-group-item-action d-flex gap-3 py-3 " aria-current="true">
        <label class="container-1 font-gilroy-light p-left-30">
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">PREMIUM</h6>
          <p class="mb-0 opacity-75">$111 / Year</p>
        </div>

      </div>
    </div>
  </div>
<br>


<div class="list-group mb-3 shadow-sm border-0">
  <div  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <label class="container-1 font-gilroy-light p-left-30">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Ecstatic Life Program</h6>
        <p class="mb-0 opacity-75">$333 / month</p>
      </div>
    </div>
  </div> 
</div>

<div class="list-group shadow-sm border-0 ">
  <div  class="list-group-item list-group-item-action d-flex gap-3 py-3 " aria-current="true">
      <label class="container-1 font-gilroy-light p-left-30">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Ecstatic Life Program</h6>
        <p class="mb-0 opacity-75">$3500 / year</p>
      </div>
    
    </div>
  </div>
</div>
<br>
<div class="list-group shadow-sm border-0 ">
  <div  class="list-group-item list-group-item-action d-flex gap-3 py-3 active" aria-current="true">
      <label class="container-1 font-gilroy-light p-left-30">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Coaching sessions</h6>
        <p class="mb-0 opacity-75">$249 for 90 Minutes</p>
      </div>
      <small class=" text-nowrap"><button class="btn btn-pink " routerLink="/premium-subscription">Buy Now</button></small>
    </div>
  </div>
</div>
</div>

<!--preference box-->  
    
   
    

   

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.js'></script>
  <script  src="../HTML/js/script.js"></script>
  

</body></html>