
.tool-bar{
    background-color:var(--pink);
}

.tool-arow {
    background: none ;
    border: none ;
    color: #fff ;
}
.mat-toolbar.mat-primary {
    z-index: 999;
    text-align: center;
    background: var(--pink);
    border-radius: 0px 0px 10px 10px;
}

.mar-left{
    margin-left: 10px;
}

.ques-box{
    background: #edceda;
}

.ev-alarm{
    background-color: var(--pink);
    

}
.font-48{
    font-size:48px;
}
.mdc-evolution-chip__text-label{
    color: #fff !important;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled){
    background-color:var(--pink);
    color: #fff;
}

.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
    background-color:#fff;
    border:1px solid var(--pink); 
}


.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label{

    color:#fff;
}

.text-light-pink {
    color: #ff75aa;
}

.border-1{
    border-bottom: 1px solid #7c465b;
}

.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected .mat-mdc-chip-graphic{
    display: none;
}


section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  

