<mat-toolbar color="primary" class="position-absolute">
   <button mat-icon-button class="tool-arow" aria-label="Example icon-button with arrow_back icon" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
   </button>
   <span class="example-spacer"><span class="font-gilroy-bold">Schedule Magic minutes</span></span>
</mat-toolbar>

<!--Video-->
<div class="">

   <!-- <img class="img wd-100" src="./assets/images/video-thumb.jpg"> -->
   <video class="wd-100" controls poster="./assets/images/video-thumb.jpg">
      <source src="./assets/videos/5 minute Meditation Music for Yoga, Meditation, Massage, Relaxation.mp4"
         type="video/mp4">
      Your browser does not support the video tag.
   </video>

   <!-- <div class="container ">
        <div class="row d-flex justify-content-center">
            <mat-chip-listbox >
                <mat-chip-option>Morning Alarm</mat-chip-option>
                <mat-chip-option color="primary" selected>Evening Alarm</mat-chip-option>
                <mat-chip-option >Magic Minutes</mat-chip-option>
                
              </mat-chip-listbox>
        </div>
       </div> -->

   <mat-tab-group>
      <mat-tab label="Evening Alarm">
         <!--Evening Alarm-->
         <div class="container ">
            <div class="row d-flex justify-content-center">
               <div class="col-10 text-center p-3 mb-3 font-24 font-gilroy-light mt-4">When would you like to head to
                  bed? Your alarm will begin soothing you to sleep at this time:</div>
            </div>
         </div>
         <div class="container ev-alarm border-radius-50 p-5" [formGroup]="eveningForm">
            <div class="row flex-column  justify-content-center font-gilroy-light">
               <input type="time"><br>


               <!-- <span class="col-12 text-center mb-2 font-48 text-light-pink">05&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-2 font-48 text-white">06&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-2 font-48 text-light-pink">07&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-2 font-48 text-light-pink">08&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-4 font-48 text-light-pink">09&nbsp; : &nbsp;00</span> -->
            </div>

            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21 border-1 pb-3 mb-3">
               <div class="col p-0"> Schedule
               </div>
               <div class="col text-right p-0"> <input formControlName="scheduleSession" type="hidden"
                     value="Evening" /> Evening
               </div>
            </div>


            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21 border-1 pb-3 mb-3">
               <div class="col p-0"> Days
               </div>
               <div class="col text-right p-0">
                  <mat-select multiple name="type_list" formControlName="days">
                     <mat-option value="Mon">Monday</mat-option>
                     <mat-option value="Tue">Tuesday</mat-option>
                     <mat-option>Wednesday</mat-option>
                     <mat-option>Thursday</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                  </mat-select>
               </div>
            </div>

            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21 border-1 pb-3 mb-3">
               <div class="col p-0"> Blessing
               </div>
               <div class="col text-right p-0">
                  <mat-select name="type_list" formControlName="blessingFileUrl" >
                     <mat-option [value]="item.mediaFileUrl"
                        *ngFor="let item of media">{{item.goalCategory}}</mat-option>

                  </mat-select>
               </div>
            </div>


            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21  pb-3 mb-3">
               <div class="col p-0"> Vibrate
               </div>
               <div class="col text-right p-0"> <mat-select name="type_list" formControlName="isVibrate">
                     <mat-option value="true">Yes</mat-option>
                     <mat-option value="false">No</mat-option>


                  </mat-select>
               </div>
            </div>

            <button mat-raised-button color="primary" (click)="dologin('Evening')">SAVE</button>


         </div>
         <!--Evening Alarm-->
      </mat-tab>
      <mat-tab label="Morning Alarm">
         <!--morning Alarm-->

         <div class="container ">
            <div class="row d-flex justify-content-center">
               <div class="col-10 text-center p-3 mb-3 font-24 font-gilroy-light mt-4">Set your Wake-Up Time. The
                  Blessing you choose will END at that time (hint: Heavy sleepers may want a secondary traditional alarm
                  clock!)</div>
            </div>
         </div>
         <div class="container ev-alarm border-radius-50 p-5" [formGroup]="morningForm">
            <div class="row flex-column  justify-content-center font-gilroy-light">
               <input type="time"><br>


               <!-- <span class="col-12 text-center mb-2 font-48 text-light-pink">05&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-2 font-48 text-white">06&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-2 font-48 text-light-pink">07&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-2 font-48 text-light-pink">08&nbsp; : &nbsp;00</span>
               <span class="col-12 text-center mb-4 font-48 text-light-pink">09&nbsp; : &nbsp;00</span> -->
            </div>

            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21 border-1 pb-3 mb-3">
               <div class="col p-0"> Schedule
               </div>
               <div class="col text-right p-0"> <input formControlName="scheduleSession" type="hidden"
                     value="Morning" /> Morning
               </div>
            </div>


            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21 border-1 pb-3 mb-3">
               <div class="col p-0"> Days
               </div>
               <div class="col text-right p-0" >
                  <mat-select multiple name="type_list" formControlName="days">
                     <mat-option>Monday</mat-option>
                     <mat-option>Tuesday</mat-option>
                     <mat-option>Wednesday</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                     <mat-option>Mon</mat-option>
                  </mat-select>
               </div>
            </div>

            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21 border-1 pb-3 mb-3">
               <div class="col p-0"> Blessing
               </div>
               <div class="col text-right p-0">
                  <mat-select name="type_list" formControlName="blessingFileUrl">
                     <mat-option [value]="item.mediaFileUrl"
                        *ngFor="let item of media">{{item.goalCategory}}</mat-option>

                  </mat-select>
               </div>
            </div>


            <div class="row flex-row justify-content-between font-gilroy-light text-white font-21  pb-3 mb-3">
               <div class="col p-0"> Vibrate
               </div>
               <div class="col text-right p-0"> <mat-select name="type_list" formControlName="isVibrate">
                     <mat-option value="true">Yes</mat-option>
                     <mat-option value="false">No</mat-option>


                  </mat-select>
               </div>
            </div>

            <button mat-raised-button color="primary" (click)="dologin('Morning')">SAVE</button>


         </div>
         <!--morning Alarm-->
      </mat-tab>
      <mat-tab label="Magic Alarm">
         <!--magic Alarm-->
         <div class="container ">
            <div class="row d-flex justify-content-center">
               <div class="col-12 text-center p-3 mb-3 font-24 font-gilroy-light mt-4">Schedule your Magic Minutes:
               </div>
            </div>
         </div>

         <div class="container">
            <div class="row flex-column  justify-content-center font-gilroy-light">
               <div class="col-6">
                  <span class="col-12 text-center mb-2 font-20 text-light-pink">05&nbsp; : &nbsp;00</span>
                  <span class="col-12 text-center mb-2 font-20 text-white">06&nbsp; : &nbsp;00</span>
                  <span class="col-12 text-center mb-2 font-20 text-light-pink">07&nbsp; : &nbsp;00</span>
                  <span class="col-12 text-center mb-2 font-20 text-light-pink">08&nbsp; : &nbsp;00</span>
                  <span class="col-12 text-center mb-4 font-20 text-light-pink">09&nbsp; : &nbsp;00</span>
               </div>
            </div>
         </div>


         <!--magic Alarm-->
      </mat-tab>
   </mat-tab-group>