<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSK</title>
    <meta name="theme-color" content="#c25d84">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');}.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}</style>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css'><link rel="stylesheet" href="./journal-entry.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="./journal-entry.component.css"  rel="stylesheet">
    
  </head>
  <body>

     <!--Tool Bar-->
     <mat-toolbar color="primary">
        <button mat-icon-button class="tool-arow" aria-label="Example icon-button with arrow_back icon" routerLink="/">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="example-spacer"><span class="font-gilroy-bold">Journal Entry</span></span>        
      </mat-toolbar>
      <!--Tool Bar--> 

         <!--Video-->
     <div class="">

      <!-- <img class="img wd-100" src="./assets/images/video-thumb.jpg"> -->
       <video class="wd-100" controls poster="./assets/images/video-thumb.jpg">
         <source src="./assets/videos/5 minute Meditation Music for Yoga, Meditation, Massage, Relaxation.mp4" type="video/mp4">
       Your browser does not support the video tag.
       </video>

    </div>
     <!--Video--> 
     
      <div class="col-10 mx-auto textarea-bg p-2">
        <textarea  name="area" rows="5" cols="35">
        What's on your mind?  
        </textarea>
    </div>
    
    <div class="text-center pt-5">
      <div class="d-grid gap-2 p-3">
      <button class="btn btn-primary btn-block" routerLink="/">Upload Photo/Video</button>
  </div>
    </div>

    <!--Help-->
    <div class="container text-center pt-5">
      <h2 class="font-gilroy-bold font-32">Not Sure How to Measure Your Progress?</h2>
      </div>

    <!--Video-->
    <div class="pt-2">

     <!-- <img class="img wd-100" src="./assets/images/video-thumb2.jpg"> -->
      <video class="wd-100" controls>
        <source src="./assets/videos/5 minute Meditation Music for Yoga, Meditation, Massage, Relaxation.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>

   </div>
    <!--Video--> 
      
      <div class="text-center pt-5">
        <div class="d-grid gap-2 p-3">
        <button class="btn btn-primary btn-block" routerLink="/">Submit</button>
    </div>
      </div>


</body></html>