<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSK</title>
    <meta name="theme-color" content="#c25d84">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');}.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}</style>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css'><link rel="stylesheet" href="./resources.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="./resources.component.css"  rel="stylesheet">
    
  </head>
  <body>

     <!--Tool Bar-->
    
      <!--Tool Bar--> 
      
      <div id="carouselExampleDark" class="carousel carousel-dark slide mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../../assets/images/home-banner.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/images/home-banner.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/home-banner.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<!--Most Polpular-->  


  <div class=" container bg-white shadow-sm wd96 mt-5">
    
    <div class="row">
      <h2 class="font-gilroy-bold font-20 pt-2">Most Popular</h2>
        <div class="slider " style="height: 200px;">
   <div class="slick-slideshow__slide" style="margin-left:-3px; " >
    <div class="cat-box-2 background-white mb-2 shadow-sm-1" >         
      <img  class="wd-100" src="../../../assets/images/r-1.jpg">
      <div class="p-2">
        <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
        <div class="font-11 text-green">36 Min Delivery</div>
        <div class="font-12">Victoria House, San Pedro, USA</div>

      </div>
    </div>
 
   </div>
   <div class="slick-slideshow__slide col-3" >
     <div class="cat-box-2 background-white shadow-sm-1"  >         
       <img class="wd-100"  src="../../../assets/images/r-1.jpg">
       <div class="p-2">
        <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
        <div class="font-11 text-green">36 Min Delivery</div>
        <div class="font-12">Victoria House, San Pedro, USA</div>

      </div>
     </div>
   </div>
   <div class="slick-slideshow__slide col-3" >
    <div class="cat-box-2 background-white shadow-sm-1" >         
      <img class="wd-100"  src="../../../assets/images/r-1.jpg">
      <div class="p-2">
       <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
       <div class="font-11 text-green">36 Min Delivery</div>
       <div class="font-12">Victoria House, San Pedro, USA</div>

     </div>
    </div>
  </div>
  <div class="slick-slideshow__slide col-3"  style="height: 200px;">
    <div class="cat-box-2 background-white shadow-sm-1" >         
      <img class="wd-100"  src="../../../assets/images/r-1.jpg">
      <div class="p-2">
       <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
       <div class="font-11 text-green">36 Min Delivery</div>
       <div class="font-12">Victoria House, San Pedro, USA</div>

     </div>
    </div>
  </div>
  <div class="slick-slideshow__slide col-3"style="height: 200px;" >
    <div class="cat-box-2 background-white shadow-sm-1"  >         
      <img class="wd-100"  src="../../../assets/images/r-1.jpg">
      <div class="p-2">
       <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
       <div class="font-11 text-green">36 Min Delivery</div>
       <div class="font-12">Victoria House, San Pedro, USA</div>

     </div>
    </div>
  </div>
  <div class="slick-slideshow__slide col-3" style="height: 200px;">
    <div class="cat-box-2 background-white shadow-sm-1"  >         
      <img class="wd-100"  src="../../../assets/images/r-1.jpg">
      <div class="p-2">
       <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
       <div class="font-11 text-green">36 Min Delivery</div>
       <div class="font-12">Victoria House, San Pedro, USA</div>

     </div>
    </div>
  </div>
 </div>
           
         </div>
  </div>
<!--Most Polpular-->  

<!--Top Rated-->  


<div class=" container bg-white shadow-sm wd96 mt-5">
    
  <div class="row">
    <h2 class="font-gilroy-bold font-20 pt-2">Top Rated</h2>
      <div class="slider " style="height: 150px;">
 <div class="slick-slideshow__slide" style="margin-left:-3px; " >
  <div class="cat-box-2 background-white mb-2 shadow-sm-1" >         
    <img  class="wd-100" src="../../../assets/images/r-1.jpg">
    <div class="p-2">
      <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
      <div class="font-11 text-green">36 Min Delivery</div>

    </div>
  </div>

 </div>
 <div class="slick-slideshow__slide col-3" >
   <div class="cat-box-2 background-white shadow-sm-1"  >         
     <img class="wd-100"  src="../../../assets/images/r-1.jpg">
     <div class="p-2">
      <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
      <div class="font-11 text-green">36 Min Delivery</div>

    </div>
   </div>
 </div>
 <div class="slick-slideshow__slide col-3" >
  <div class="cat-box-2 background-white shadow-sm-1" >         
    <img class="wd-100"  src="../../../assets/images/r-1.jpg">
    <div class="p-2">
     <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
     <div class="font-11 text-green">36 Min Delivery</div>

   </div>
  </div>
</div>
<div class="slick-slideshow__slide col-3"  style="height: 200px;">
  <div class="cat-box-2 background-white shadow-sm-1" >         
    <img class="wd-100"  src="../../../assets/images/r-1.jpg">
    <div class="p-2">
     <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
     <div class="font-11 text-green">36 Min Delivery</div>

   </div>
  </div>
</div>
<div class="slick-slideshow__slide col-3"style="height: 200px;" >
  <div class="cat-box-2 background-white shadow-sm-1"  >         
    <img class="wd-100"  src="../../../assets/images/r-1.jpg">
    <div class="p-2">
     <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
     <div class="font-11 text-green">36 Min Delivery</div>
     <div class="font-12">Victoria House, San Pedro, USA</div>

   </div>
  </div>
</div>
<div class="slick-slideshow__slide col-3" style="height: 200px;">
  <div class="cat-box-2 background-white shadow-sm-1"  >         
    <img class="wd-100"  src="../../../assets/images/r-1.jpg">
    <div class="p-2">
     <div class="font-gilroy-bold font-14 d-flex justify-content-between"><span>Wealth</span><span class="text-green">4.1</span></div>
     <div class="font-11 text-green">36 Min Delivery</div>

   </div>
  </div>
</div>
</div>
         
       </div>
</div>
<!--Most Polpular-->  
    
   
    

   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.js'></script>
  <script  src="../../../assets/Js/script.js"></script>
  

</body></html>